.block
  .content
    %h2= "Reservation for #{@product.name}"
    .inner
      .columns.wat-cf
        .column.left{ :style => "float:left;" }
          = render 'form'
        - unless @reservation.new_record?
          .column.right{ :style => "float:left;" }
            = render 'progress'
